old
target
project/boot
project/target
*~
.DS_Store
.settings
*#Untitled-*#
.idea
.idea_modules
.settings
.project
.classpath
*.class
*.marks
.ensime*
Macros/.cache

Compiler/.cache

Core/.cache

.history
CasbahDSL.original
react-0.12.2
